.title_area {
  padding-top: 100px;
  padding-left: 50px;
}
.title_area .container_title_area .bread_group {
  margin-bottom: 0px;
}

.shopinner {
  padding: 60px 0px;
  width: 100%;
  background-color: #f7f7f7;
}
.shopinner .container_inner {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.shopinner .container_inner .content_inner {
  width: 50%;
}
.shopinner .container_inner .content_inner .main_img {
  position: relative;
  margin: 0px 50px;
  overflow: hidden;
}
.shopinner .container_inner .content_inner .main_img .main_control:nth-child(1) {
  cursor: pointer;
  position: absolute;
  font-size: 36px;
  color: rgba(247, 247, 247, 0.8);
  left: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  z-index: 1;
  opacity: 0.5;
  background-color: rgba(247, 247, 247, 0.8);
  border-radius: 100%;
  padding: 5px;
  color: #333;
  transition: 0.3s;
}
.shopinner .container_inner .content_inner .main_img .main_control:nth-child(1):hover {
  transform: translateY(-50%) rotate(-90deg) scale(1.2);
  opacity: 1;
}
.shopinner .container_inner .content_inner .main_img .main_control:nth-child(2) {
  cursor: pointer;
  position: absolute;
  font-size: 36px;
  color: rgba(247, 247, 247, 0.8);
  right: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 1;
  opacity: 0.5;
  background-color: rgba(247, 247, 247, 0.8);
  border-radius: 100%;
  padding: 5px;
  color: #333;
  transition: 0.3s;
}
.shopinner .container_inner .content_inner .main_img .main_control:nth-child(2):hover {
  transform: translateY(-50%) rotate(90deg) scale(1.2);
  opacity: 1;
}
.shopinner .container_inner .content_inner .main_img .bigpi {
  width: 100%;
  overflow: hidden;
}
.shopinner .container_inner .content_inner .main_img .bigpi_group {
  transition: 0.5s;
  position: relative;
  width: 700%;
  display: flex;
}
.shopinner .container_inner .content_inner .main_img .bigpi_group .bigpi_list {
  width: 100%;
}
.shopinner .container_inner .content_inner .main_img .bigpi_group .bigpi_list img {
  box-sizing: border-box;
  width: 100%;
}
.shopinner .container_inner .content_inner .main_img:hover .main_control:nth-child(1) {
  left: 5px;
}
.shopinner .container_inner .content_inner .main_img:hover .main_control:nth-child(2) {
  right: 5px;
}
.shopinner .container_inner .content_inner .other_img {
  padding: 0px 50px;
}
.shopinner .container_inner .content_inner .other_img .img_group {
  display: flex;
}
.shopinner .container_inner .content_inner .other_img .img_group .img_list {
  width: 20%;
  margin-top: 5px;
  margin-right: 10px;
}
.shopinner .container_inner .content_inner .other_img .img_group .img_list img {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}
.shopinner .container_inner .content_shopping {
  width: 50%;
}
.shopinner .container_inner .content_shopping .title_shop {
  margin: 30px 0px 0px;
  padding: 10px;
  font-size: 26px;
}
.shopinner .container_inner .content_shopping .title_cont {
  padding: 10px;
}
.shopinner .container_inner .content_shopping .title_cont p {
  margin-bottom: 20px;
}
.shopinner .container_inner .content_shopping .title_price {
  font-size: 26px;
  padding: 10px;
  margin-top: 30px;
}
.shopinner .container_inner .content_shopping .title_btn {
  display: flex;
  text-align: center;
  font-size: 18px;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.shopinner .container_inner .content_shopping .title_btn .btnadd {
  cursor: pointer;
  width: 45%;
  padding: 15px 5px;
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 5px;
}
.shopinner .container_inner .content_shopping .title_btn .btnadd:hover {
  filter: brightness(0.95);
}
.shopinner .container_inner .content_shopping .title_btn .btnbuy {
  cursor: pointer;
  width: 45%;
  padding: 15px 5px;
  background-color: #00A26A;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}
.shopinner .container_inner .content_shopping .title_btn .btnbuy:hover {
  filter: brightness(1.1);
}
.shopinner .container_inner .content_shopping .title_btn .btnbuy a {
  text-decoration: none;
  color: #f7f7f7;
}
.shopinner .container_inner .content_shopping .dcrib_big {
  padding: 10px;
}
.shopinner .container_inner .content_shopping .dcrib_big .title_dcrib_group .title_dcrib_list {
  padding: 10px 0px;
}

.morebuyit {
  width: 100%;
  background-color: #dcdcdc;
  padding-bottom: 50px;
}
.morebuyit .container_norebuy {
  max-width: 1200px;
  margin: auto;
}
.morebuyit .container_norebuy .title_morebuy {
  font-size: 22px;
  text-align: center;
  padding: 30px 0px 50px;
}
.morebuyit .container_norebuy .content_morebuy {
  padding: 10px 15px;
  display: flex;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod:hover .imgbox .addbtn {
  height: 50px;
  opacity: 1;
  transition: 0.3s;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  padding: 10px;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod .imgbox {
  position: relative;
  width: 100%;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod .imgbox img {
  width: 100%;
  vertical-align: top;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod .imgbox .addbtn {
  transition: 0.3s;
  bottom: 0px;
  position: absolute;
  background-color: #00A26A;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod .imgbox .addbtn a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 16px;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod .prodetail {
  box-sizing: border-box;
  width: 100%;
}
.morebuyit .container_norebuy .content_morebuy .morebuyprod .prodetail p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}