body, html {
  scroll-behavior: smooth;
}

.list_item:nth-child(4) a {
  border-bottom: solid 1px rgba(42, 157, 143, 0.5);
}

.first_img {
  background-image: url(../img/95.jpg);
}

.main_area {
  padding-top: 80px;
  width: 100%;
  background-color: #f7f7f7;
}
.main_area .container_main {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.main_area .container_main .content_main {
  width: 33.3333%;
  padding: 10px;
}
.main_area .container_main .content_main .content_try_group {
  text-align: center;
}
.main_area .container_main .content_main .content_try_group .content_try_list {
  margin-top: 20px;
  letter-spacing: 3px;
  font-size: 20px;
  color: rgba(51, 51, 51, 0.8);
}
.main_area .container_main .content_main .content_word {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 3px;
}
.main_area .container_main .content_main a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}
.main_area .container_main .content_main a img:hover {
  box-shadow: 0px 1px 10px 0px rgba(51, 51, 51, 0.5);
  transform: translateY(-3px);
}

.flavor_little {
  padding: 30px 0px 30px;
  width: 100%;
  background-color: #f7f7f7;
}
.flavor_little .container_little.old {
  background-image: url(../img/82.jpg);
  background-position: center;
}
.flavor_little .container_little.strong {
  background-image: url(../img/94.jpg);
  background-position: center;
}
.flavor_little .container_little {
  position: relative;
  background-image: url(../img/83.jpg);
  background-position: bottom;
  height: 300px;
  max-width: 1200px;
  margin: auto;
}
.flavor_little .container_little .content_little {
  width: 300px;
  height: 200px;
  background-color: rgba(247, 247, 247, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0px auto 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flavor_little .container_little .content_little h3 {
  font-size: 36px;
  font-weight: normal;
  padding: 10px;
}
.flavor_little .container_little .content_little p {
  padding: 10px;
}

.little_kind {
  padding: 50px 0px 100px;
  width: 100%;
  background-color: #f7f7f7;
}
.little_kind .container_kind {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.little_kind .container_kind .content_kind {
  box-sizing: border-box;
  padding: 10px;
  width: 25%;
}
.little_kind .container_kind .content_kind .seer {
  border: solid 1px rgba(51, 51, 51, 0.3);
  border-radius: 10px;
}
.little_kind .container_kind .content_kind .seer img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.little_kind .container_kind .content_kind .seer h4, .little_kind .container_kind .content_kind .seer p {
  padding-top: 15px;
  text-align: center;
}
.little_kind .container_kind .content_kind .seer p {
  line-height: 25px;
  font-weight: bold;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
}
.little_kind .container_kind .content_kind .seer h4 {
  font-size: 18px;
}
.little_kind .container_kind .content_kind .seer .toucher {
  text-decoration: none;
  text-align: center;
}
.little_kind .container_kind .content_kind .seer .toucher p {
  margin: 20px auto;
  width: 50%;
  background-color: #00A26A;
  padding: 10px;
  color: #f7f7f7;
  transition: 0.3s;
}
.little_kind .container_kind .content_kind .seer .toucher p:hover {
  background-color: #333;
}

.foot_inner_box .foot_inner_top .foot_nav .foot_nav_group .foot_nav_list:nth-child(4) a {
  color: rgba(247, 247, 247, 0.5);
}

@media screen and (max-width: 1024px) {
  .flavor_little {
    padding: 30px 0px 30px;
    width: 100%;
    background-color: #f7f7f7;
  }
  .flavor_little .container_little.old {
    background-image: url(../img/82.jpg);
    background-position: center;
  }
  .flavor_little .container_little.strong {
    background-image: url(../img/94.jpg);
    background-position: center;
  }
  .flavor_little .container_little {
    position: relative;
    background-image: url(../img/83.jpg);
    background-position: bottom;
    height: 300px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .flavor_little .container_little .content_little {
    width: 300px;
    height: 200px;
    background-color: rgba(247, 247, 247, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0px auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flavor_little .container_little .content_little h3 {
    font-size: 36px;
    font-weight: normal;
    padding: 10px;
  }
  .flavor_little .container_little .content_little p {
    padding: 10px;
  }
  .main_area {
    padding-top: 80px;
    width: 100%;
    background-color: #f7f7f7;
  }
  .main_area .container_main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    width: 100%;
  }
  .main_area .container_main .content_main {
    box-sizing: border-box;
    width: 33.333333%;
    padding: 20px;
  }
  .main_area .container_main .content_main .content_try_group {
    padding-bottom: 100px;
  }
  .main_area .container_main .content_main a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5%;
    transition: 0.3s;
  }
  .little_kind::-webkit-scrollbar {
    display: none;
  }
  .little_kind {
    padding: 50px 0px 100px;
    width: 100%;
    background-color: #f7f7f7;
    overflow: scroll;
  }
  .little_kind .container_kind {
    position: relative;
    width: 400%;
    margin: 0;
    display: flex;
  }
  .little_kind .container_kind .content_kind {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 25%;
  }
  .little_kind .container_kind .content_kind .seer {
    border: solid 1px rgba(51, 51, 51, 0.3);
    border-radius: 10px;
  }
  .little_kind .container_kind .content_kind .seer img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .little_kind .container_kind .content_kind .seer h4, .little_kind .container_kind .content_kind .seer p {
    padding-top: 15px;
    text-align: center;
  }
  .little_kind .container_kind .content_kind .seer p {
    line-height: 25px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.8);
  }
  .little_kind .container_kind .content_kind .seer h4 {
    font-size: 18px;
  }
  .little_kind .container_kind .content_kind .seer .toucher {
    text-decoration: none;
    text-align: center;
  }
  .little_kind .container_kind .content_kind .seer .toucher p {
    margin: 20px auto;
    width: 50%;
    background-color: #00A26A;
    padding: 10px;
    color: #f7f7f7;
    transition: 0.3s;
  }
  .little_kind .container_kind .content_kind .seer .toucher p:hover {
    background-color: #333;
  }
}
@media screen and (max-width: 768px) {
  .flavor_little {
    padding: 30px 0px 30px;
    width: 100%;
    background-color: #f7f7f7;
  }
  .flavor_little .container_little.old {
    background-image: url(../img/82.jpg);
    background-position: center;
  }
  .flavor_little .container_little.strong {
    background-image: url(../img/94.jpg);
    background-position: center;
  }
  .flavor_little .container_little {
    position: relative;
    background-image: url(../img/83.jpg);
    background-position: bottom;
    height: 300px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .flavor_little .container_little .content_little {
    width: 300px;
    height: 200px;
    background-color: rgba(247, 247, 247, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0px auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flavor_little .container_little .content_little h3 {
    font-size: 36px;
    font-weight: normal;
    padding: 10px;
  }
  .flavor_little .container_little .content_little p {
    padding: 10px;
  }
  .main_area {
    display: none;
    padding-top: 80px;
    width: 100%;
    background-color: #f7f7f7;
  }
  .main_area .container_main {
    max-width: 1200px;
    margin: auto;
    display: block;
    width: 100%;
  }
  .main_area .container_main .content_main {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
  .main_area .container_main .content_main .content_try_group {
    padding-bottom: 100px;
  }
  .main_area .container_main .content_main a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5%;
    transition: 0.3s;
  }
  .little_kind::-webkit-scrollbar {
    display: none;
  }
  .little_kind {
    padding: 50px 0px 100px;
    width: 100%;
    background-color: #f7f7f7;
    overflow: scroll;
  }
  .little_kind .container_kind {
    position: relative;
    width: 400%;
    margin: 0;
    display: flex;
  }
  .little_kind .container_kind .content_kind {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 25%;
  }
  .little_kind .container_kind .content_kind .seer {
    border: solid 1px rgba(51, 51, 51, 0.3);
    border-radius: 10px;
  }
  .little_kind .container_kind .content_kind .seer img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .little_kind .container_kind .content_kind .seer h4, .little_kind .container_kind .content_kind .seer p {
    padding-top: 15px;
    text-align: center;
  }
  .little_kind .container_kind .content_kind .seer p {
    line-height: 25px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.8);
  }
  .little_kind .container_kind .content_kind .seer h4 {
    font-size: 18px;
  }
  .little_kind .container_kind .content_kind .seer .toucher {
    text-decoration: none;
    text-align: center;
  }
  .little_kind .container_kind .content_kind .seer .toucher p {
    margin: 20px auto;
    width: 50%;
    background-color: #00A26A;
    padding: 10px;
    color: #f7f7f7;
    transition: 0.3s;
  }
  .little_kind .container_kind .content_kind .seer .toucher p:hover {
    background-color: #333;
  }
}