.list_item:nth-child(1) a {
  border-bottom: solid 1px rgba(42, 157, 143, 0.5);
}

.first_img {
  width: 100%;
  height: 500px;
  background-image: url(../img/30.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.title_area {
  background-color: #fafafa;
  width: 100%;
  padding-top: 80px;
}
.title_area h2 {
  position: relative;
  max-width: 1200px;
  margin: auto;
  font-size: 48px;
  color: #333;
}
.title_area h2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: #00A26A;
  top: 0;
  bottom: 0;
  left: -40px;
  margin: auto;
}

.type_area {
  background-color: #fafafa;
  width: 100%;
  padding-top: 80px;
}
.type_area .container_type_area {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.type_area .container_type_area h3 {
  font-size: 26px;
}
.type_area .container_type_area .find {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.type_area .container_type_area .find .sert_big {
  padding-left: 20px;
}
.type_area .container_type_area .find .sert_group {
  opacity: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  right: 0;
  position: absolute;
  z-index: 1;
  background-color: #fafafa;
  top: 100%;
  box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.3);
}
.type_area .container_type_area .find .sert_group .sert_list {
  margin: 20px 0px;
}
.type_area .container_type_area .find i {
  margin-left: 50px;
  font-size: 12px;
  transform: rotate(180deg);
}
.type_area .container_type_area .find:hover i {
  transform: rotate(0deg);
}
.type_area .container_type_area .find:hover .sert_group {
  opacity: 1;
}

.product_area {
  background-color: #fafafa;
  width: 100%;
}
.product_area .container_product_area {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.product_area .container_product_area .content_choose {
  border-right: solid 1px rgba(51, 51, 51, 0.1);
  padding-top: 40px;
  width: 20%;
  position: relative;
}
.product_area .container_product_area .content_choose .choose_group {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.product_area .container_product_area .content_choose .choose_group li:hover > a {
  color: #2A9D8F;
}
.product_area .container_product_area .content_choose .choose_group .choose_item {
  position: relative;
  margin: 25px 0px;
}
.product_area .container_product_area .content_choose .choose_group .choose_item a {
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}
.product_area .container_product_area .content_choose .choose_group .choose_item i {
  position: absolute;
  font-size: 12px;
  transform: rotate(180deg);
  right: 10px;
}
.product_area .container_product_area .content_choose .choose_group .choose_item .up {
  transform: rotate(0deg);
}
.product_area .container_product_area .content_choose .choose_group .choose_item .item_group {
  display: none;
  position: relative;
  margin-left: 20px;
  top: 100%;
}
.product_area .container_product_area .content_choose .choose_group .choose_item .item_group .item_list {
  padding-top: 20px;
}
.product_area .container_product_area .content_buy {
  width: 80%;
}
.product_area .container_product_area .content_buy .content_buy_area {
  display: flex;
  flex-wrap: wrap;
}
.product_area .container_product_area .content_buy .content_buy_area li {
  width: 33.333333%;
  padding: 20px;
  box-sizing: border-box;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 5px;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item .shopcar {
  transition: 0.3s;
  z-index: 1;
  opacity: 0;
  width: 60%;
  text-align: center;
  padding: 15px 10px;
  bottom: 25%;
  left: 50%;
  font-size: 18px;
  transform: translateX(-50%);
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  background-color: #00A26A;
  color: #fafafa;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item .shopcar:hover {
  -webkit-animation: updown 1s infinite;
          animation: updown 1s infinite;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item a {
  text-decoration: none;
  color: #333;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item a img {
  border-radius: 5px;
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item a p {
  line-height: 20px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item a .proname {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.7);
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item:hover .shopcar {
  opacity: 1;
  bottom: 30%;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item:hover img {
  filter: brightness(0.8);
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item::before, .product_area .container_product_area .content_buy .content_buy_area li .buy_item::after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 3%;
  height: 3%;
  transition: 0.3s;
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item::before {
  left: -5px;
  top: -5px;
  border-top: solid 1px rgba(51, 51, 51, 0.5);
  border-left: solid 1px rgba(51, 51, 51, 0.5);
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item::after {
  right: -5px;
  bottom: -5px;
  border-bottom: solid 1px rgba(51, 51, 51, 0.5);
  border-right: solid 1px rgba(51, 51, 51, 0.5);
}
.product_area .container_product_area .content_buy .content_buy_area li .buy_item:hover::before, .product_area .container_product_area .content_buy .content_buy_area li .buy_item:hover::after {
  width: calc(100% + 9px);
  height: calc(100% + 9px);
  border-radius: 5px;
}
@-webkit-keyframes updown {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  50% {
    transform: translateX(-50%) translateY(-5%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}
@keyframes updown {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  50% {
    transform: translateX(-50%) translateY(-5%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}
.product_area .container_product_area .content_buy .container_page {
  max-width: 33.333333%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 150px 0px 50px;
}
.product_area .container_product_area .content_buy .container_page .page_line {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  transition: 0.3s;
}
.product_area .container_product_area .content_buy .container_page .page_line:hover {
  color: #2A9D8F;
}
.product_area .container_product_area .content_buy .container_page .page_line:nth-child(1) {
  transform: rotate(-90deg);
}
.product_area .container_product_area .content_buy .container_page .page_line:nth-child(3) {
  transform: rotate(90deg);
}
.product_area .container_product_area .content_buy .container_page .pagenum_group {
  display: flex;
}
.product_area .container_product_area .content_buy .container_page .pagenum_group .pagenum_list a {
  font-size: 18px;
  text-decoration: none;
  padding: 0px 20px;
  color: #333;
  transition: 0.3s;
}
.product_area .container_product_area .content_buy .container_page .pagenum_group .pagenum_list a:hover {
  color: #2A9D8F;
}

.foot_inner_box .foot_inner_top .foot_nav .foot_nav_group .foot_nav_list:nth-child(2) a {
  color: rgba(250, 250, 250, 0.5);
}