$color_main:#2A9D8F
$color_white:#f7f7f7 
$color_black:#333
$color_gray:#666
$color_green:#00A26A

*
    // outline: solid 1px

.list_item:nth-child(5) a
    border-bottom: solid 1px rgba($color_main,0.5) 
.first_img
    background-image: url(../img/76.jpg)
    background-position: center
.title_area
    padding-bottom: 60px
.news
    width: 100%
    background-color: $color_white
    & .container_news
        max-width: 1200px
        margin: auto
        & .content_news_group
            padding-bottom: 40px
            width: 100%
            & .content_news_list + .content_news_list 
                border-top: 1px solid rgba($color_black,0.3)
            & .content_news_list:nth-child(1)
                padding-top: 20px
            & .content_news_list
                transition: 0.3s
                width: 100%
                padding: 20px 10px
                display: flex
                & img
                    border-radius: 5px
                    min-width: 200px
                    width: 20%
                    object-fit: cover
                & a 
                    width: 70%
                    display: flex
                    text-decoration: none
                    & .detial
                        width: 950px
                        padding: 10px
                        margin-left: 20px
                        & .paper,.detial_content,.detial_date
                            padding: 10px 0px
                        & .paper
                            letter-spacing: 1px
                            color: $color_black
                            font-size: 20px
                            transition: 0.3s
                            &:hover
                                color: $color_main
                        & .detial_content
                            letter-spacing: 1px
                            font-size: 14px
                            color: rgba($color_black,0.8)
                        & .detial_date
                            font-weight: bold
                            font-size: 14px
                            color: $color_black
                        & .lay
                            letter-spacing: 1px
                            width: 100px
                            height: 20px
                            background-color: $color_black
                            color: $color_white
                            font-size: 12px
                            font-weight: bold
                            display: flex
                            align-items: center
                            justify-content: center
                            padding: 5px
                            text-align: center
                            border-radius: 20px 
                    
                


.foot_inner_box .foot_inner_top .foot_nav .foot_nav_group .foot_nav_list:nth-child(5) a 
    color: rgba($color_white,0.5)



@media screen and (max-width:1024px)
    .news
        & .container_news
            & .content_news_group
                width: 100%
                display: flex
                flex-wrap: wrap
                padding-bottom: 0px
                padding: 80px 0px 
                & .content_news_list + .content_news_list 
                    border-top: none
                & .content_news_list:nth-child(1)
                    padding-top: 10px
                & .content_news_list
                    box-sizing: border-box
                    flex-direction: column
                    width: 33.333333%
                    padding: 10px
                    & img
                        box-shadow: 0px -2px 5px 0px rgb(51 51 51 / 30%)
                        border-radius: 10px 10px 0px 0px 
                        min-width: 0px
                        width: 100%
                        object-fit: cover
                    & a 
                        box-shadow: 0px 2px 5px 0px rgb(51 51 51 / 30%)
                        border-radius: 0px 0px 10px 10px 
                        width: 100%
                        display: flex
                        flex-direction: column
                        text-decoration: none
                        & .detial
                            display: flex
                            flex-direction: column
                            justify-content: space-between
                            height: 250px
                            box-sizing: border-box
                            width: 100%
                            padding: 10px
                            margin-left: 0px
                            & .paper
                                letter-spacing: 1px
                                color: $color_black
                                font-size: 20px
                                transition: 0.3s
                            & .detial_content
                                letter-spacing: 1px
                                font-size: 14px
                                color: rgba($color_black,0.8)
                            & .detial_date
                                font-weight: bold
                                font-size: 14px
                                color: $color_black

@media screen and (max-width:768px)
    .news
        & .container_news
            & .content_news_group
                width: 100%
                display: flex
                flex-wrap: wrap
                padding-bottom: 0px
                padding: 40px 0px 
                & .content_news_list + .content_news_list 
                    border-top: none
                & .content_news_list
                    flex-direction: column
                    width: 50%
                    box-sizing: border-box
                    padding: 10px
                    & img
                        box-shadow: 0px -2px 5px 0px rgb(51 51 51 / 30%)
                        border-radius: 10px 10px 0px 0px 
                        width: 100%
                        min-width: 0px
                        object-fit: cover
                    & a 
                        box-shadow: 0px 2px 5px 0px rgb(51 51 51 / 30%)
                        border-radius: 0px 0px 10px 10px 
                        width: 100%
                        display: flex
                        flex-direction: column
                        text-decoration: none
                        & .detial
                            box-sizing: border-box
                            width: 100%
                            height: 180px
                            padding: 10px
                            margin-left: 0px
                            & .paper
                                letter-spacing: 1px
                                color: $color_black
                                font-size: 16px
                                transition: 0.3s
                            & .detial_content
                                display: none
                                letter-spacing: 1px
                                font-size: 12px
                                color: rgba($color_black,0.8)
                            & .detial_date
                                font-weight: bold
                                font-size: 12px
                                color: $color_black
