$color_main:#2A9D8F
$color_white:#f7f7f7 
$color_black:#333
$color_gray:#666
$color_green:#00A26A

@mixin slideIn()
    transform: translateY(50px)
    opacity: 0
    transition: 0.5s
@mixin active()
    transform: translateY(0px)
    opacity: 1
    transition: 0.5s
@mixin zoomOut()
    transform: scale(0.6)
    opacity: 0
    transition: 0.5s
@mixin zoomIn()
    transform: scale(1)
    opacity: 1
    transition: 0.5s
 
*
    // outline: solid 1px

body

.list_item:nth-child(2) a
    border-bottom: solid 1px rgba($color_main,0.5)
.first_img
    width: 100%
    height: 500px
    background-image: url(../img/30.jpg)
    background-size: cover 
    background-position: bottom
    background-attachment: fixed


.type_area
    background-color: $color_white
    width: 100%
    padding-top: 80px
    & .container_type_area
        max-width: 1200px
        margin: auto
        display: flex
        justify-content: space-between
        & h3 
            font-size: 26px
        & .find
            position: relative
            cursor: pointer
            display: flex
            align-items: center
            & .sert_big
                padding-left: 20px
            & .sert_group
                opacity: 1
                width: 100%
                padding: 10px
                margin-bottom: 10px
                // right: -200%
                right: 0
                position: absolute
                z-index: -1
                background-color: $color_white
                top: 100%
                box-shadow: 0px 5px 5px 0px rgba($color_black,0.3)  
                & .sert_list
                    margin: 20px 0px
        & i 
            margin-left: 50px
            font-size: 12px
            transform: rotate(180deg)
    & .find:hover i 
        transform: rotate(0deg)
    & .find:hover .sert_group
        opacity: 1
        z-index: 1
        right: 0
.product_area
    background-color: $color_white
    width: 100%
    & .container_product_area
        max-width: 1200px
        margin: auto
        display: flex
        & .content_choose
            border-right: solid 1px rgba($color_black,0.1)
            padding-top: 40px
            width: 20%
            position: relative
            & .together
                display: none
                & .sert_big_clone
                    display: none
                & .all_type
                    display: none
            & .choose_group
                position: sticky
                top: 100px
                padding-bottom: 200px
                & li:hover > a 
                    color: $color_main
                & .choose_item
                    position: relative
                    margin: 25px 0px
                    & a
                        cursor: pointer 
                        transition: 0.3s
                        font-size: 16px
                        text-decoration: none
                        color: $color_black
                    #gogogo
                        display: none
                    & i 
                        position: absolute
                        font-size: 12px
                        transform: rotate(180deg)
                        right: 10px
                    & .up
                        transform: rotate(0deg)
                    & .item_group
                        display: none
                        position: relative
                        margin-left: 20px
                        top: 100%
                        & .item_list
                            padding-top: 20px
                & .choose_item.slideIn
                    +slideIn
                & .choose_item.slideIn.active
                    +active
        & .content_buy
            width: 80%
            & .content_buy_area
                display: flex
                flex-wrap: wrap
                & li 
                    width: 33.333333%
                    padding: 20px
                    box-sizing: border-box
                    & .buy_item
                        position: relative
                        width: 100%
                        box-sizing: border-box      
                        margin-bottom: 30px
                        padding: 5px
                        & .shopcar
                            transition: 0.3s
                            z-index: 1
                            opacity: 0
                            width: 60%
                            text-align: center
                            padding: 15px 10px
                            bottom: 25%
                            left: 50%
                            font-size: 18px
                            transform: translateX(-50%)
                            cursor: pointer
                            font-weight: bold
                            position: absolute
                            background-color: $color_green
                            color: $color_white
                            &:hover
                                animation: updown 1s infinite
                        & a
                            text-decoration: none
                            color: $color_black
                            & img 
                                border-radius: 10px
                                width: 100%
                                object-fit: cover
                                transition: 0.3s
                            & p 
                                line-height: 20px
                                margin-top: 10px
                                font-size: 18px
                                text-align: center
                            & .proname
                                text-align: left
                                font-size: 14px
                                color: rgba($color_black,0.7)
                    & .buy_item.slideIn
                        +zoomOut
                    & .buy_item.slideIn.active
                        +zoomIn
                    & .buy_item:hover .shopcar
                        opacity: 1
                        bottom: 30%
                    & .buy_item:hover img
                        filter: brightness(0.8)
                    & .buy_item::before,.buy_item::after 
                        content: ""
                        pointer-events: none
                        position: absolute
                        width: 3%
                        height: 3%
                        transition: 0.3s
                        opacity: 0.3
                    & .buy_item::before 
                        left: -5px
                        top: -5px  
                        border-top: solid 1px rgba($color_black,0.5) 
                        border-left: solid 1px rgba($color_black,0.5)
                    & .buy_item::after
                        right: -5px
                        bottom: -5px 
                        border-bottom: solid 1px rgba($color_black,0.5)
                        border-right: solid 1px rgba($color_black,0.5)
                    & .buy_item:hover::before,.buy_item:hover::after
                        width: calc(100% + 9px)
                        height: calc(100% + 9px)
                        border-radius: 10px
                        opacity: 1
                    @keyframes updown
                        0%
                            transform: translateX(-50%) translateY(0%)
                        50%
                            transform: translateX(-50%) translateY(-5%)
                        100%
                            transform: translateX(-50%) translateY(0%)
            & .container_page
                max-width: 50%
                margin: auto
                display: flex
                justify-content: space-between
                padding: 150px 0px 50px 
                & .page_line
                    display: flex
                    align-items: center
                    text-decoration: none
                    color: $color_black
                    font-size: 12px
                    transition: 0.3s
                    &:hover 
                        color: $color_main
                & .page_line:nth-child(1)
                    transform: rotate(-90deg)
                & .page_line.slideIn:nth-child(1)
                    transform: translateY(50px) rotate(-90deg)
                    opacity: 0
                    transition: 0.5s
                & .page_line.slideIn.active:nth-child(1)
                    transform: translateY(0px) rotate(-90deg)
                    opacity: 1
                    transition: 0.5s
                & .page_line:nth-child(3)
                    transform: rotate(90deg)
                & .page_line.slideIn:nth-child(3)
                    transform: translateY(50px) rotate(90deg)
                    opacity: 0
                    transition: 0.5s
                & .page_line.slideIn.active:nth-child(3)
                    transform: translateY(0px) rotate(90deg)
                    opacity: 1
                    transition: 0.5s
                & .pagenum_group
                    display: flex
                    & .pagenum_list
                        padding: 0px 15px
                        
                    & .pagenum_list:nth-child(1) a
                        padding: 0px 5px
                        border-bottom: solid 1px rgba($color_black,0.5)
                    & .pagenum_list a
                        font-size: 18px
                        text-decoration: none
                        color: $color_black
                        transition: 0.3s
                        &:hover 
                            color: $color_main
                    & .pagenum_list.slideIn
                        +slideIn
                    & .pagenum_list.slideIn.active
                        +active

.foot_inner_box .foot_inner_top .foot_nav .foot_nav_group .foot_nav_list:nth-child(2) a 
    color: rgba($color_white,0.5)



@media screen and (max-width:1024px)
    .type_area
        display: none
    .product_area
        & .container_product_area
            flex-wrap: wrap
            & .content_choose
                border-right: none
                padding: 80px 0px
                width: 100%
                position: relative
                & .together
                    display: flex
                    & .sert_big_clone
                        cursor: pointer
                        font-size: 20px
                        width: 50%
                        display: flex
                        justify-content: space-evenly
                        border-left: solid 1px rgba(3,3,3,0.3)
                        & .sert_group_clone
                            overflow: scroll
                            box-sizing: border-box
                            padding: 0px 10px
                            border-radius: 20px 20px 0px 0px
                            z-index: 1
                            height: 18vh
                            width: 100%
                            position: fixed
                            display: none
                            flex-direction: column
                            background-color: #f7f7f7
                            box-shadow: 0px -1px 5px rgba(3,3,3,0.3)
                            top: initial
                            left: 0px
                            bottom: 0px
                            & .sert_list
                                font-weight: normal
                                padding: 20px 0px
                                &:hover
                                    color: $color_main
                        & #popogo
                            display: flex
                            align-items: center
                            font-size: 14px
                            transform: rotate(90deg)
                        & #popogo.back
                            transform: rotate(180deg)
                    & .all_type
                        cursor: pointer
                        width: 50%
                        margin: auto
                        display: flex
                        justify-content: space-evenly
                        font-size: 20px
                        & #gogogo
                            display: flex
                            align-items: center
                            font-size: 14px
                            transform: rotate(90deg)
                        & #gogogo.back
                            transform: rotate(180deg)
                & .choose_group
                    overflow: scroll
                    box-sizing: border-box
                    padding: 0px 10px
                    border-radius: 20px 20px 0px 0px
                    z-index: 1
                    height: 18vh
                    width: 100%
                    position: fixed
                    flex-direction: column
                    background-color: #f7f7f7
                    box-shadow: 0px -1px 5px rgba(3,3,3,0.3)
                    top: initial
                    bottom: 0px
                    padding-bottom: 0px
                    & li:hover > a 
                        color: $color_main
                    & .choose_item
                        position: relative
                        margin: 0px 0px
                        padding: 20px 0px
                        & a
                            cursor: pointer 
                            transition: 0.3s
                            font-size: 20px
                            text-decoration: none
                            color: $color_black
                        #gogo,#go
                            display: none
                        & .up
                            transform: rotate(0deg)
                        & .item_group
                            display: none
                            position: relative
                            margin-left: 20px
                            top: 100%
                            & .item_list
                                padding-top: 20px
            & .content_buy
                width: 100%
                & .content_buy_area
                    display: flex
                    flex-wrap: wrap
                    & li 
                        width: 33.333333%
                        padding: 20px
                        box-sizing: border-box
                        & .buy_item
                            position: static
                            display: flex
                            flex-direction: column-reverse
                            width: 100%
                            box-sizing: border-box      
                            margin-bottom: 30px
                            padding: 5px
                            & .shopcar
                                box-sizing: border-box
                                margin: auto
                                z-index: 0
                                opacity: 1
                                width: 60%
                                font-size: 14px
                                padding: 10px 10px
                                margin-top: 15px
                                bottom: initial
                                left: initial
                                transform: none
                                border-radius: 30px
                                position: static
                                &:hover
                                    animation: none
                            & a
                                text-decoration: none
                                color: $color_black
                                & img 
                                    border-radius: 10px
                                    box-shadow: 0px 2px 5px 0px rgb(51 51 51 / 30%)
                                    width: 100%
                                    object-fit: cover
                                    transition: 0.3s
                        & .buy_item::before,.buy_item::after 
                            content: none

@media screen and (max-width:768px)
    .product_area
        & .container_product_area
            flex-wrap: wrap
            & .content_choose
                border-right: solid 1px rgba($color_black,0.1)
                padding: 40px 0px
                width: 100%
                position: relative
                & .together
                    display: flex
                    & .sert_big_clone
                        cursor: pointer
                        font-size: 16px
                        width: 50%
                        display: flex
                        justify-content: space-evenly
                        border-left: solid 1px rgba(3,3,3,0.3)
                        & .sert_group_clone
                            overflow: scroll
                            box-sizing: border-box
                            padding: 0px 10px
                            border-radius: 15px 15px 0px 0px
                            z-index: 1
                            height: 35vh
                            width: 100%
                            position: fixed
                            display: none
                            flex-direction: column
                            background-color: #f7f7f7
                            box-shadow: 0px -1px 5px rgba(3,3,3,0.3)
                            top: initial
                            left: 0px
                            bottom: 0px
                            & .sert_list
                                font-weight: normal
                                padding: 20px 0px
                                &:hover
                                    color: $color_main
                        & #popogo
                            display: flex
                            align-items: center
                            font-size: 12px
                            transform: rotate(90deg)
                        & #popogo.back
                            transform: rotate(180deg)
                    & .all_type
                        cursor: pointer
                        width: 50%
                        margin: auto
                        display: flex
                        justify-content: space-evenly
                        font-size: 16px
                        & #gogogo
                            display: flex
                            align-items: center
                            font-size: 12px
                            transform: rotate(90deg)
                        & #gogogo.back
                            transform: rotate(180deg)
                & .choose_group
                    overflow: scroll
                    box-sizing: border-box
                    padding: 0px 10px
                    border-radius: 15px 15px 0px 0px
                    z-index: 1
                    height: 35vh
                    width: 100%
                    position: fixed
                    display: none
                    flex-direction: column
                    background-color: #f7f7f7
                    box-shadow: 0px -1px 5px rgba(3,3,3,0.3)
                    top: initial
                    bottom: 0px
                    padding-bottom: 0px
                    & li:hover > a 
                        color: $color_main
                    & .choose_item
                        position: relative
                        margin: 0px 0px
                        padding: 20px 0px
                        & a
                            cursor: pointer 
                            transition: 0.3s
                            font-size: 16px
                            text-decoration: none
                            color: $color_black
                        #gogo,#go
                            display: none
                       
                        & .up
                            transform: rotate(0deg)
                        & .item_group
                            display: none
                            position: relative
                            margin-left: 20px
                            top: 100%
                            & .item_list
                                padding-top: 20px
            & .content_buy
                width: 100%
                & .content_buy_area
                    display: flex
                    flex-wrap: wrap
                    & li 
                        width: 50%
                        padding: 20px
                        box-sizing: border-box
                        & .buy_item
                            position: relative
                            width: 100%
                            box-sizing: border-box      
                            margin-bottom: 30px
                            padding: 5px
                            & .shopcar
                                box-sizing: border-box
                                margin: auto
                                z-index: 0
                                opacity: 1
                                width: 60%
                                font-size: 12px
                                padding: 10px 10px
                                margin-top: 15px
                                bottom: initial
                                left: initial
                                transform: none
                                border-radius: 30px
                                position: static
                                &:hover
                                    animation: none
                        & .buy_item::before,.buy_item::after 
                            content: none