doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js") 
        link(rel="stylesheet", href="/css/navbarfoot.css")
        link(rel="stylesheet", href="/css/styleshop.css")
        link(rel="icon", href="/img/icon.ico")
        title 茶苑CHAYUAN
    body 
        header.nav_box
            nav.nav_bar  
                h1
                    a.header_logo(href="/01/dist/index.html")  
                        img(src="/img/logo.svg", alt="CHAYUAN")
                ul.list_group 
                    li.list_item 
                        a(href="#") 線上商城
                    li.list_item 
                        a(href="#") 茶葉周邊
                    li.list_item 
                        a(href="#") 特色風味
                    li.list_item 
                        a(href="#") 最新消息
                    li.list_item 
                        a(href="#") 關於茶苑
                ul.icon_group
                    li.icon_item.icon_serach
                        form.search(action="") 
                            .search_area
                                label.bigmirror.i.fa-solid.fa-magnifying-glass(for="click")
                                    .inputbox 
                                        input.barbar(type="search" placeholder="找商品")
                                        .mask


                    li.icon_item
                        a(href="#")
                            span.material-symbols-outlined shopping_cart 
                    li.icon_item 
                        a(href="#")
                            i.fa-regular.fa-user

        section.first_img
            .container_first_img
                figure.content_img 
        
        section.title_area 
            .container_title_area 
                ul.bread_group
                    li.bread_list  
                    li.bread_list  
                    li.bread_list  
                h2 線上商城
        section.type_area
            .container_type_area 
                h3 分類
                p 商品排序 
                    span +
        section.product_area 
            .container_product_area 
                .content_choose
                .content_buy  
                    


        //- section.fake_foot_row
        //- footer.foot_row
            .foot_inner_box
                .foot_inner_top
                    .foot_inner
                        h2.main_pro 茶苑CHAYUAN
                    .foot_nav
                        ul.foot_nav_group
                            li.foot_nav_list 
                                a(href="") 首頁
                            li.foot_nav_list 
                                a(href="") 線上商城
                            li.foot_nav_list 
                                a(href="") 茶葉周邊
                            li.foot_nav_list 
                                a(href="") 特色風味
                            li.foot_nav_list 
                                a(href="") 最新消息
                            li.foot_nav_list 
                                a(href="") 關於茶苑
                    .foot_ask
                        .foot_ask_main 
                            .foot_address 
                                p cometobuysometea@gmail.com
                                p +886-2-8712-7414
                                p 週一至週五 2PM - 5PM

                            h3.foot_title 官方帳號
                            .foot_contact  
                                ul.foot_contact_grop
                                    li.foot_contact_list
                                        a(href="")  
                                            i.fa-brands.fa-instagram
                                    li.foot_contact_list
                                        a(href="")  
                                            i.fa-brands.fa-facebook
                                    li.foot_contact_list
                                        a(href="")  
                                            i.fa-brands.fa-twitter
                                    li.foot_contact_list
                                        a(href="")  
                                            i.fa-brands.fa-line
                .foot_inner_down 
                    .foot_company
                        .foot_know
                            ul.foot_know_group
                                li.foot_know_list 
                                    a(href="") 隱私政策
                                li.foot_know_list 
                                    a(href="") 服務條款
                                li.foot_know_list 
                                    a(href="") 活動快訊
                                li.foot_know_list 
                                    a(href="") 常見問題
                                li.foot_know_list 
                                    a(href="") 檢舉專區
                    .foot_tibame 
                        p 本網站為緯育TibaMe_前端設計工程師班學員專題成果作品，本平台僅供學習、展示之用。<br>若有侵權疑慮，您可以私訊「TibaMe-前端設計工程師養成班」，後續會由專人協助處理。<br>COPYRIGHT © 2022 CHAYUAN Co.,Ltd. All rights reserved.